<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>Последние новости</h3>
    <h4>Заголовок Н4 новость 1</h4>
    <h5>21.06.2023</h5>
    <p>Вводная часть<br /><a href="#">читать больше</a></p>
    <p></p>
    <h4>Заголовок Н4 новость 2</h4>
    <h5>21.06.2023</h5>
    <p>Вводная часть<br /><a href="#">читать больше</a></p>
    <h3>Полезные ссылки</h3>
    <ul>
      <li><a href="#">link 1</a></li>
      <li><a href="#">link 2</a></li>
    </ul>
    <h3>Поиск</h3>
    <form method="post" action="#" id="search_form">
      <p>
        <input class="search" type="text" name="search_field" value="Введите слово..." />
<!--        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Поиск" title="Search" />-->
        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" alt="Поиск" title="Search" />
      </p>
    </form>
</div>